Source: ros-jade-move-slow-and-clear
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-cmake-modules, ros-jade-costmap-2d, ros-jade-geometry-msgs, ros-jade-nav-core, ros-jade-pluginlib, ros-jade-roscpp
Homepage: http://wiki.ros.org/move_slow_and_clear
Standards-Version: 3.9.2

Package: ros-jade-move-slow-and-clear
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-costmap-2d, ros-jade-geometry-msgs, ros-jade-nav-core, ros-jade-pluginlib, ros-jade-roscpp
Description: move_slow_and_clear
